.gridWrapper{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  height: 100vh;
}

.gridContainer {
  display: grid;
  place-content: center;
  gap: 15px;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: repeat(5, 1fr);
  height: 100%;
  min-width: 76vw;
  margin-left: 250px;
}

.gridItem{
  background-image: url('../Images/Noise.png'), no-repeat cover 0.1;

  background: linear-gradient(115.38deg, rgba(255, 255, 255, 0.075) -20.68%, rgba(255, 255, 255, 0.0125) 99.62%);
  mix-blend-mode: normal;
  backdrop-filter: blur(20px);
  border-radius: 15px;
  height: 100%;
  width: 100%;
}
