.services-container{
    width: 100%;
    background-color:#fff;
}

.services-card{
    width: 100%;
    border-radius: 3px;
    padding: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin: auto;
}

.services-card-content{
    width: 300px;
    height: 100px;
    background-color: #f8f6f6;
    margin: 10px;
    padding: 15px;
}

.services-card-content:last-child{
    margin-right: 0px;
}


.services-banner{
    max-width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
}
.services-banner-content{
    max-width: 50%;
    text-align: center;
}

.services-item svg{
    font-size: 2rem;
    margin-bottom: 0px;
    color: #048970;
}


.services-card-content h3{
    font-size: 2rem;
    margin-top: 0px;
    color: #373737;
}

.services-banner-content{
    padding-top: 10px;
}

.services-banner-content h1 {
    font-size: 3rem;
    margin-top: 0px;
    color: #373737;
}

.services-banner-content p{
    font-size: 1.5rem;
    margin-top: 0px;
    color: #373737;
}


@media screen and (max-width: 768px) {

    .services-banner{
        max-width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: auto;
    }

    .services-banner-content{
        max-width: 100%;
        text-align: center;
        margin-bottom: 0px;
    }

    .services-item svg{
        margin-bottom: 20px;
    }

    .services-banner-content h1 {
        margin-bottom: 0px;
        text-align: left;
        padding-left: 20px;
    }

    .services-banner-content p {
        width: 85%;
        font-size: 1.2rem;
        margin-top: 0px;
        color: #373737;
        text-align: left;
        padding: 20px;
    }

    .services-card{
        width: 90%;
        border-radius: 3px;
        padding: 10px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: auto;
    }

    

    .services-card-content{
        width: 90%;
        height: 120px;
    }
}